# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
PyYAML>=5.3.1
torch>=1.7.0,!=1.12.0
torchvision>=0.8.1,!=0.13.0

# Downloading weights -------------------------------------
gdown==4.5.1

# Extras --------------------------------------
# sutil  # system utilization
# thop  # FLOPs computation
