-i https://pypi.org/simple
absl-py==1.2.0; python_version >= '3.6'
appnope==0.1.3; sys_platform == 'darwin'
asttokens==2.0.8
backcall==0.2.0
beautifulsoup4==4.11.1; python_version >= '3.6'
cachetools==5.2.0; python_version ~= '3.7'
certifi==2021.5.30
chardet==4.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
charset-normalizer==2.1.1; python_version >= '3.6'
contourpy==1.0.5; python_version >= '3.7'
cycler==0.10.0
decorator==5.1.1; python_version >= '3.5'
executing==1.1.0
filelock==3.8.0; python_version >= '3.7'
fonttools==4.37.3; python_version >= '3.7'
gdown==4.5.1
glob2==0.7
google-auth==2.12.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
google-auth-oauthlib==0.4.6; python_version >= '3.6'
grpcio==1.49.1; python_version >= '3.7'
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
ipython==8.5.0
jedi==0.18.1; python_version >= '3.6'
kiwisolver==1.3.1; python_version >= '3.6'
markdown==3.4.1; python_version >= '3.7'
markupsafe==2.1.1; python_version >= '3.7'
matplotlib==3.6.0
matplotlib-inline==0.1.6; python_version >= '3.5'
numpy==1.23.3
oauthlib==3.2.1; python_version >= '3.6'
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66; python_version >= '3.6'
packaging==21.3; python_version >= '3.6'
pandas==1.5.0
parso==0.8.3; python_version >= '3.6'
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
pillow==9.2.0
prompt-toolkit==3.0.31; python_full_version >= '3.6.2'
protobuf==3.19.5
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygments==2.13.0; python_version >= '3.6'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pysocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==0.21.0; python_version >= '3.7'
pytz==2022.2.1
pyyaml==6.0
requests==2.28.1
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
requests-toolbelt==0.9.1
roboflow==0.2.15
rsa==4.9; python_version >= '3.6'
scipy==1.9.1
seaborn==0.12.0
setuptools==65.4.0; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.3.2.post1; python_version >= '3.6'
stack-data==0.5.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1; python_version >= '3.6'
tensorboard-plugin-wit==1.8.1
tesseract==0.1.3
thop==0.1.1.post2209072238
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
traitlets==5.4.0; python_version >= '3.7'
typing-extensions==4.3.0; python_version >= '3.7'
urllib3==1.26.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
wcwidth==0.2.5
werkzeug==2.2.2; python_version >= '3.7'
wget==3.2
wheel==0.37.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
