<!DOCTYPE html>
<html>
  <head>
    <title>Data & AI for ASL recognition with YOLOv7</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <p>Data & AI for ASL recognition with YOLOv7</p>
        <img src="static/ovh.png" width="20%">
        <hr>
        <button name="cam" class="button" id="opencam">Video cam for real-time detection</button>
        <br/>
      </header>
    </div>
  </body>
</html>